<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >i2c_master_i</TD>
<TD >19</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >10</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >spi_master_i</TD>
<TD >87</TD>
<TD >84</TD>
<TD >0</TD>
<TD >84</TD>
<TD >21</TD>
<TD >84</TD>
<TD >84</TD>
<TD >84</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >uart_i</TD>
<TD >12</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >12</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
